<div class="large-12 columns">
	<form class="large-8 large-offset-2 columns" ng-submit="updateSituation()">
		<div class="row"><h2>SITUAÇÕES</h2></div>
		<div ng-repeat="node in graph.graph.nodes">
			<div class="row large-collapse">
				<div class="large-2 columns">
					<label>>> ID
						<input type="text" ng-model="node.id"/>
					</label>
				</div>
				<div class="large-10 columns">
					<label>>> Texto da opção
						<input type="text" ng-model="node.label"/>
					</label>				
				</div>
				<div class="large-12 columns">
					<label>>> Texto
						<textarea rows="10" cols="30" ng-model="node.metadata.text"></textarea>
					</label>
				</div>
				<div class="large-1 large-offset-11 columns">
					<a class="button postfix" ng-click="graph.graph.nodes.splice($index, 1)">X</a>
				</div>				
			</div>
		</div>
		<div class="row">
			<div class="large-1 large-offset-11">
				<button class="button postfix" type="button" ng-click="addNode()">+</button>
			</div>
		</div>
		<div class="row">
			<hr>
		</div>
		<div class="row"><h2>CONEXÕES</h2></div>
		<div class="row collapse">
			<div class="large-2 columns">
				>> Fonte					
			</div>
			<div class="large-2 columns">
				>> Destino					
			</div>				
			<div class="large-8 columns">
				>> Rótulo da ligação					
			</div>			
		</div>
		<div class="row collapse" ng-repeat="edge in graph.graph.edges">
			<div class="large-2 columns">
				<select class="dropdown" ng-options="node.id as node.id for node in graph.graph.nodes" ng-model="edge.source"></select>
			</div>
			<div class="large-2 columns">
				<select ng-options="node.id as node.id for node in graph.graph.nodes" ng-model="edge.target"></select>
			</div>				
			<div class="large-7 columns">
				<input type="text" ng-model="edge.label"/>
			</div>
			<div class="large-1 columns">
				<a class="button postfix" ng-click="graph.graph.edges.splice($index, 1)">X</a>
			</div>			
		</div>
		<div class="row">
			<div class="large-1 large-offset-11">
				<a class="button postfix" ng-click="addEdge()">+</a>
			</div>
		</div>
		<div class="row">
			<hr>
		</div>
		<div class="row">
			<div class="large-2 large-offset-10">
				<button class="button expand postfix" type="submit">Salvar</button>
			</div>
		</div>
	</form>
</div>