<div>
	<form ng-submit="sendChat()">
	<div>
		<label>Nick
			<input ng-disabled="user.joined" type="text" ng-model="user.name"></input>
			<button ng-disabled="user.joined" ng-click="joinRoom()" type="submit">Join</button>
		</label>
	</div>
	<div>
		<textarea readonly show-tail ng-disabled="!user.joined" rows="10" cols="50" ng-model="user.console"></textarea>
	</div>
	<div>
		<label>
			<input ng-disabled="!user.joined" type="text" ng-model="user.chat" ng-keyup="$event.keyCode == 13 && sendChat()"></input>
			<button ng-disabled="!user.joined" type="button" ng-click="sendChat()">Send</button>
		</label>
	</div>
	</form>
</div>